In [1]:
import csv
import pandas as pd 
import sqlite3

In [2]:
db_file = "db2.sqlite"

In [3]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS birthweight")

#Creating table as per requirement
sql ='''CREATE TABLE birthweight( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table birthweight already exists

In [4]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS teen")

#Creating table as per requirement
sql ='''CREATE TABLE teen( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table teen already exists

In [5]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS unmarried")

#Creating table as per requirement
sql ='''CREATE TABLE unmarried( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table unmarried already exists

In [6]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS infant")

#Creating table as per requirement
sql ='''CREATE TABLE infant( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table infant already exists

In [7]:
lowweight_df = pd.read_csv("Low Birthweight by State.csv")
lowweight_df.insert(0, "ID", range(0, len(infant_df)))

teenbirth_df = pd.read_csv("Teen Birth Rate by State.csv")
teenbirth_df.insert(0, "ID", range(0, len(infant_df)))

unmarried_df = pd.read_csv("Unmarried Mothers by State.csv")
unmarried_df.insert(0, "ID", range(0, len(infant_df)))

infant_df = pd.read_csv("Infant_Mortality_Rates_by_State.csv")
infant_df.insert(0, "ID", range(0, len(infant_df)))

NameError: name 'infant_df' is not defined

In [8]:
conn = sqlite3.connect(db_file)

In [9]:
infant_df.to_sql("infant", conn, if_exists='append', index=False)
teenbirth_df.to_sql("teen", conn, if_exists='append', index=False)
unmarried_df.to_sql("unmarried", conn, if_exists='append', index=False)
lowweight_df.to_sql("birthweight", conn, if_exists='append', index=False)

NameError: name 'infant_df' is not defined

In [10]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM birthweight;")

conn.commit()
conn.close()

In [11]:

conn = sqlite3.connect(db_file)

def sql_fetch(conn):

    cursorObj = conn.cursor()

    cursorObj.execute('SELECT * FROM birthweight')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(conn)

conn.close()

(0, 2018, 'AL', 10.7, None, '/nchs/pressroom/states/alabama/alabama.htm')
(1, 2018, 'AK', 5.9, None, '/nchs/pressroom/states/alaska/alaska.htm')
(2, 2018, 'AZ', 7.6, None, '/nchs/pressroom/states/arizona/arizona.htm')
(3, 2018, 'AR', 9.4, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(4, 2018, 'CA', 7, None, '/nchs/pressroom/states/california/california.htm')
(5, 2018, 'CO', 9.4, None, '/nchs/pressroom/states/colorado/colorado.htm')
(6, 2018, 'CT', 7.6, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(7, 2018, 'DE', 8.9, None, '/nchs/pressroom/states/delaware/delaware.htm')
(8, 2018, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(9, 2018, 'GA', 10.1, None, '/nchs/pressroom/states/georgia/georgia.htm')
(10, 2018, 'HI', 8.3, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(11, 2018, 'ID', 7.3, None, '/nchs/pressroom/states/idaho/idaho.htm')
(12, 2018, 'IL', 8.5, None, '/nchs/pressroom/states/illinois/illinois.htm')
(13, 2018, 'IN', 8.1, None, '/nchs/pressroom/states/indiana/indiana.htm')
(14, 2018, 'IA', 6.9, None, '/nchs/pressroom/states/iowa/iowa.htm')
(15, 2018, 'KS', 7.4, None, '/nchs/pressroom/states/kansas/kansas.htm')
(16, 2018, 'KY', 8.9, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(17, 2018, 'LA', 10.8, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(18, 2018, 'ME', 7.2, None, '/nchs/pressroom/states/maine/maine.htm')
(19, 2018, 'MD', 8.8, None, '/nchs/pressroom/states/maryland/maryland.htm')
(20, 2018, 'MA', 7.6, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(21, 2018, 'MI', 8.5, None, '/nchs/pressroom/states/michigan/michigan.htm')
(22, 2018, 'MN', 6.9, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(23, 2018, 'MS', 12.1, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(24, 2018, 'MO', 8.7, None, '/nchs/pressroom/states/missouri/missouri.htm')
(25, 2018, 'MT', 7.4, None, '/nchs/pressroom/states/montana/montana.htm')
(26, 2018, 'NE', 7.6, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(27, 2018, 'NV', 8.7, None, '/nchs/pressroom/states/nevada/nevada.htm')
(28, 2018, 'NH', 6.8, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(29, 2018, 'NJ', 7.9, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(30, 2018, 'NM', 9, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(31, 2018, 'NY', 8.1, None, '/nchs/pressroom/states/newyork/newyork.htm')
(32, 2018, 'NC', 9.2, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(33, 2018, 'ND', 6.6, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(34, 2018, 'OH', 8.5, None, '/nchs/pressroom/states/ohio/ohio.htm')
(35, 2018, 'OK', 8.3, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(36, 2018, 'OR', 6.7, None, '/nchs/pressroom/states/oregon/oregon.htm')
(37, 2018, 'PA', 8.3, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(38, 2018, 'RI', 7.6, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(39, 2018, 'SC', 9.6, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(40, 2018, 'SD', 6.6, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(41, 2018, 'TN', 9.3, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(42, 2018, 'TX', 8.5, None, '/nchs/pressroom/states/texas/texas.htm')
(43, 2018, 'UT', 7.2, None, '/nchs/pressroom/states/utah/utah.htm')
(44, 2018, 'VT', 7, None, '/nchs/pressroom/states/vermont/vermont.htm')
(45, 2018, 'VA', 8.2, None, '/nchs/pressroom/states/virginia/virginia.htm')
(46, 2018, 'WA', 6.6, None, '/nchs/pressroom/states/washington/washington.htm')
(47, 2018, 'WV', 9.4, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(48, 2018, 'WI', 7.7, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(49, 2018, 'WY', 9.4, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(50, 2017, 'AL', 10.3, None, '/nchs/pressroom/states/alabama/alabama.htm')
(51, 2017, 'AK', 6.2, None, '/nchs/pressroom/states/alaska/alaska.htm')
(52, 2017, 'AZ', 7.5, None, '/nchs/pressroom/states/arizona/arizona.htm')
(53, 2017, 'AR', 9.3, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(54, 2017, 'CA', 6.9, None, '/nchs/pressroom/states/california/california.htm')
(55, 2017, 'CO', 9.1, None, '/nchs/pressroom/states/colorado/colorado.htm')
(56, 2017, 'CT', 8.1, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(57, 2017, 'DE', 9, None, '/nchs/pressroom/states/delaware/delaware.htm')
(58, 2017, 'FL', 8.8, None, '/nchs/pressroom/states/florida/florida.htm')
(59, 2017, 'GA', 9.9, None, '/nchs/pressroom/states/georgia/georgia.htm')
(60, 2017, 'HI', 8.5, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(61, 2017, 'ID', 7, None, '/nchs/pressroom/states/idaho/idaho.htm')
(62, 2017, 'IL', 8.5, None, '/nchs/pressroom/states/illinois/illinois.htm')
(63, 2017, 'IN', 8.3, None, '/nchs/pressroom/states/indiana/indiana.htm')
(64, 2017, 'IA', 6.6, None, '/nchs/pressroom/states/iowa/iowa.htm')
(65, 2017, 'KS', 7.4, None, '/nchs/pressroom/states/kansas/kansas.htm')
(66, 2017, 'KY', 8.8, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(67, 2017, 'LA', 10.7, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(68, 2017, 'ME', 7.1, None, '/nchs/pressroom/states/maine/maine.htm')
(69, 2017, 'MD', 8.9, None, '/nchs/pressroom/states/maryland/maryland.htm')
(70, 2017, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(71, 2017, 'MI', 8.8, None, '/nchs/pressroom/states/michigan/michigan.htm')
(72, 2017, 'MN', 6.7, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(73, 2017, 'MS', 11.6, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(74, 2017, 'MO', 8.7, None, '/nchs/pressroom/states/missouri/missouri.htm')
(75, 2017, 'MT', 8, None, '/nchs/pressroom/states/montana/montana.htm')
(76, 2017, 'NE', 7.5, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(77, 2017, 'NV', 9.1, None, '/nchs/pressroom/states/nevada/nevada.htm')
(78, 2017, 'NH', 6.9, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(79, 2017, 'NJ', 7.9, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(80, 2017, 'NM', 9.5, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(81, 2017, 'NY', 8.1, None, '/nchs/pressroom/states/newyork/newyork.htm')
(82, 2017, 'NC', 9.4, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(83, 2017, 'ND', 6.7, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(84, 2017, 'OH', 8.7, None, '/nchs/pressroom/states/ohio/ohio.htm')
(85, 2017, 'OK', 8.1, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(86, 2017, 'OR', 6.8, None, '/nchs/pressroom/states/oregon/oregon.htm')
(87, 2017, 'PA', 8.4, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(88, 2017, 'RI', 7.5, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(89, 2017, 'SC', 9.7, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(90, 2017, 'SD', 6.9, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(91, 2017, 'TN', 9.2, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(92, 2017, 'TX', 8.4, None, '/nchs/pressroom/states/texas/texas.htm')
(93, 2017, 'UT', 7.2, None, '/nchs/pressroom/states/utah/utah.htm')
(94, 2017, 'VT', 6.7, None, '/nchs/pressroom/states/vermont/vermont.htm')
(95, 2017, 'VA', 8.4, None, '/nchs/pressroom/states/virginia/virginia.htm')
(96, 2017, 'WA', 6.6, None, '/nchs/pressroom/states/washington/washington.htm')
(97, 2017, 'WV', 9.5, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(98, 2017, 'WI', 7.7, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(99, 2017, 'WY', 8.7, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(100, 2016, 'AL', 10.3, None, '/nchs/pressroom/states/alabama/alabama.htm')
(101, 2016, 'AK', 5.9, None, '/nchs/pressroom/states/alaska/alaska.htm')
(102, 2016, 'AZ', 7.3, None, '/nchs/pressroom/states/arizona/arizona.htm')
(103, 2016, 'AR', 8.8, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(104, 2016, 'CA', 6.8, None, '/nchs/pressroom/states/california/california.htm')
(105, 2016, 'CO', 9, None, '/nchs/pressroom/states/colorado/colorado.htm')
(106, 2016, 'CT', 7.8, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(107, 2016, 'DE', 8.9, None, '/nchs/pressroom/states/delaware/delaware.htm')
(108, 2016, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(109, 2016, 'GA', 9.8, None, '/nchs/pressroom/states/georgia/georgia.htm')
(110, 2016, 'HI', 8.5, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(111, 2016, 'ID', 7, None, '/nchs/pressroom/states/idaho/idaho.htm')
(112, 2016, 'IL', 8.4, None, '/nchs/pressroom/states/illinois/illinois.htm')
(113, 2016, 'IN', 8.2, None, '/nchs/pressroom/states/indiana/indiana.htm')
(114, 2016, 'IA', 6.8, None, '/nchs/pressroom/states/iowa/iowa.htm')
(115, 2016, 'KS', 7, None, '/nchs/pressroom/states/kansas/kansas.htm')
(116, 2016, 'KY', 9.1, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(117, 2016, 'LA', 10.6, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(118, 2016, 'ME', 7.1, None, '/nchs/pressroom/states/maine/maine.htm')
(119, 2016, 'MD', 8.5, None, '/nchs/pressroom/states/maryland/maryland.htm')
(120, 2016, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(121, 2016, 'MI', 8.5, None, '/nchs/pressroom/states/michigan/michigan.htm')
(122, 2016, 'MN', 6.6, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(123, 2016, 'MS', 11.5, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(124, 2016, 'MO', 8.7, None, '/nchs/pressroom/states/missouri/missouri.htm')
(125, 2016, 'MT', 7.9, None, '/nchs/pressroom/states/montana/montana.htm')
(126, 2016, 'NE', 7, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(127, 2016, 'NV', 8.5, None, '/nchs/pressroom/states/nevada/nevada.htm')
(128, 2016, 'NH', 6.4, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(129, 2016, 'NJ', 8.1, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(130, 2016, 'NM', 9, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(131, 2016, 'NY', 7.9, None, '/nchs/pressroom/states/newyork/newyork.htm')
(132, 2016, 'NC', 9.2, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(133, 2016, 'ND', 6.6, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(134, 2016, 'OH', 8.7, None, '/nchs/pressroom/states/ohio/ohio.htm')
(135, 2016, 'OK', 7.8, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(136, 2016, 'OR', 6.5, None, '/nchs/pressroom/states/oregon/oregon.htm')
(137, 2016, 'PA', 8.2, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(138, 2016, 'RI', 8, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(139, 2016, 'SC', 9.6, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(140, 2016, 'SD', 6.8, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(141, 2016, 'TN', 9.3, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(142, 2016, 'TX', 8.4, None, '/nchs/pressroom/states/texas/texas.htm')
(143, 2016, 'UT', 7.2, None, '/nchs/pressroom/states/utah/utah.htm')
(144, 2016, 'VT', 6.9, None, '/nchs/pressroom/states/vermont/vermont.htm')
(145, 2016, 'VA', 8.1, None, '/nchs/pressroom/states/virginia/virginia.htm')
(146, 2016, 'WA', 6.4, None, '/nchs/pressroom/states/washington/washington.htm')
(147, 2016, 'WV', 9.6, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(148, 2016, 'WI', 7.4, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(149, 2016, 'WY', 8.5, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(150, 2015, 'AL', 10.4, None, '/nchs/pressroom/states/alabama/alabama.htm')
(151, 2015, 'AK', 5.8, None, '/nchs/pressroom/states/alaska/alaska.htm')
(152, 2015, 'AZ', 7.2, None, '/nchs/pressroom/states/arizona/arizona.htm')
(153, 2015, 'AR', 9.2, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(154, 2015, 'CA', 6.8, None, '/nchs/pressroom/states/california/california.htm')
(155, 2015, 'CO', 9, None, '/nchs/pressroom/states/colorado/colorado.htm')
(156, 2015, 'CT', 7.9, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(157, 2015, 'DE', 9.3, None, '/nchs/pressroom/states/delaware/delaware.htm')
(158, 2015, 'FL', 8.6, None, '/nchs/pressroom/states/florida/florida.htm')
(159, 2015, 'GA', 9.5, None, '/nchs/pressroom/states/georgia/georgia.htm')
(160, 2015, 'HI', 8.3, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(161, 2015, 'ID', 6.6, None, '/nchs/pressroom/states/idaho/idaho.htm')
(162, 2015, 'IL', 8.3, None, '/nchs/pressroom/states/illinois/illinois.htm')
(163, 2015, 'IN', 8, None, '/nchs/pressroom/states/indiana/indiana.htm')
(164, 2015, 'IA', 6.7, None, '/nchs/pressroom/states/iowa/iowa.htm')
(165, 2015, 'KS', 6.8, None, '/nchs/pressroom/states/kansas/kansas.htm')
(166, 2015, 'KY', 8.7, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(167, 2015, 'LA', 10.6, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(168, 2015, 'ME', 6.9, None, '/nchs/pressroom/states/maine/maine.htm')
(169, 2015, 'MD', 8.6, None, '/nchs/pressroom/states/maryland/maryland.htm')
(170, 2015, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(171, 2015, 'MI', 8.5, None, '/nchs/pressroom/states/michigan/michigan.htm')
(172, 2015, 'MN', 6.4, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(173, 2015, 'MS', 11.4, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(174, 2015, 'MO', 8.3, None, '/nchs/pressroom/states/missouri/missouri.htm')
(175, 2015, 'MT', 7.1, None, '/nchs/pressroom/states/montana/montana.htm')
(176, 2015, 'NE', 7.1, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(177, 2015, 'NV', 8.5, None, '/nchs/pressroom/states/nevada/nevada.htm')
(178, 2015, 'NH', 6.9, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(179, 2015, 'NJ', 8.1, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(180, 2015, 'NM', 8.7, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(181, 2015, 'NY', 7.8, None, '/nchs/pressroom/states/newyork/newyork.htm')
(182, 2015, 'NC', 9.1, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(183, 2015, 'ND', 6.2, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(184, 2015, 'OH', 8.5, None, '/nchs/pressroom/states/ohio/ohio.htm')
(185, 2015, 'OK', 7.9, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(186, 2015, 'OR', 6.4, None, '/nchs/pressroom/states/oregon/oregon.htm')
(187, 2015, 'PA', 8.2, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(188, 2015, 'RI', 7.6, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(189, 2015, 'SC', 9.5, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(190, 2015, 'SD', 6.1, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(191, 2015, 'TN', 9.2, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(192, 2015, 'TX', 8.2, None, '/nchs/pressroom/states/texas/texas.htm')
(193, 2015, 'UT', 7, None, '/nchs/pressroom/states/utah/utah.htm')
(194, 2015, 'VT', 6.6, None, '/nchs/pressroom/states/vermont/vermont.htm')
(195, 2015, 'VA', 7.9, None, '/nchs/pressroom/states/virginia/virginia.htm')
(196, 2015, 'WA', 6.4, None, '/nchs/pressroom/states/washington/washington.htm')
(197, 2015, 'WV', 9.6, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(198, 2015, 'WI', 7.3, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(199, 2015, 'WY', 8.6, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(200, 2014, 'AL', 10.1, None, '/nchs/pressroom/states/alabama/alabama.htm')
(201, 2014, 'AK', 5.9, None, '/nchs/pressroom/states/alaska/alaska.htm')
(202, 2014, 'AZ', 7, None, '/nchs/pressroom/states/arizona/arizona.htm')
(203, 2014, 'AR', 8.9, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(204, 2014, 'CA', 6.7, None, '/nchs/pressroom/states/california/california.htm')
(205, 2014, 'CO', 8.8, None, '/nchs/pressroom/states/colorado/colorado.htm')
(206, 2014, 'CT', 7.6, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(207, 2014, 'DE', 8.3, None, '/nchs/pressroom/states/delaware/delaware.htm')
(208, 2014, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(209, 2014, 'GA', 9.5, None, '/nchs/pressroom/states/georgia/georgia.htm')
(210, 2014, 'HI', 7.9, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(211, 2014, 'ID', 6.4, None, '/nchs/pressroom/states/idaho/idaho.htm')
(212, 2014, 'IL', 8.2, None, '/nchs/pressroom/states/illinois/illinois.htm')
(213, 2014, 'IN', 8, None, '/nchs/pressroom/states/indiana/indiana.htm')
(214, 2014, 'IA', 6.7, None, '/nchs/pressroom/states/iowa/iowa.htm')
(215, 2014, 'KS', 7, None, '/nchs/pressroom/states/kansas/kansas.htm')
(216, 2014, 'KY', 8.8, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(217, 2014, 'LA', 10.5, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(218, 2014, 'ME', 7.6, None, '/nchs/pressroom/states/maine/maine.htm')
(219, 2014, 'MD', 8.6, None, '/nchs/pressroom/states/maryland/maryland.htm')
(220, 2014, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(221, 2014, 'MI', 8.4, None, '/nchs/pressroom/states/michigan/michigan.htm')
(222, 2014, 'MN', 6.6, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(223, 2014, 'MS', 11.3, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(224, 2014, 'MO', 8.2, None, '/nchs/pressroom/states/missouri/missouri.htm')
(225, 2014, 'MT', 7.4, None, '/nchs/pressroom/states/montana/montana.htm')
(226, 2014, 'NE', 6.6, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(227, 2014, 'NV', 8.3, None, '/nchs/pressroom/states/nevada/nevada.htm')
(228, 2014, 'NH', 6.9, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(229, 2014, 'NJ', 8.1, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(230, 2014, 'NM', 8.8, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(231, 2014, 'NY', 7.9, None, '/nchs/pressroom/states/newyork/newyork.htm')
(232, 2014, 'NC', 8.9, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(233, 2014, 'ND', 6.2, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(234, 2014, 'OH', 8.5, None, '/nchs/pressroom/states/ohio/ohio.htm')
(235, 2014, 'OK', 8, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(236, 2014, 'OR', 6.2, None, '/nchs/pressroom/states/oregon/oregon.htm')
(237, 2014, 'PA', 8.3, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(238, 2014, 'RI', 7.1, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(239, 2014, 'SC', 9.4, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(240, 2014, 'SD', 6.5, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(241, 2014, 'TN', 9, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(242, 2014, 'TX', 8.2, None, '/nchs/pressroom/states/texas/texas.htm')
(243, 2014, 'UT', 7, None, '/nchs/pressroom/states/utah/utah.htm')
(244, 2014, 'VT', 7.1, None, '/nchs/pressroom/states/vermont/vermont.htm')
(245, 2014, 'VA', 7.9, None, '/nchs/pressroom/states/virginia/virginia.htm')
(246, 2014, 'WA', 6.4, None, '/nchs/pressroom/states/washington/washington.htm')
(247, 2014, 'WV', 9.1, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(248, 2014, 'WI', 7.3, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(249, 2014, 'WY', 9.2, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(250, 2005, 'AL', 10.7, None, '/nchs/pressroom/states/alabama/alabama.htm')
(251, 2005, 'AK', 6.1, None, '/nchs/pressroom/states/alaska/alaska.htm')
(252, 2005, 'AZ', 6.9, None, '/nchs/pressroom/states/arizona/arizona.htm')
(253, 2005, 'AR', 8.9, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(254, 2005, 'CA', 6.9, None, '/nchs/pressroom/states/california/california.htm')
(255, 2005, 'CO', 9.2, None, '/nchs/pressroom/states/colorado/colorado.htm')
(256, 2005, 'CT', 8, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(257, 2005, 'DE', 9.5, None, '/nchs/pressroom/states/delaware/delaware.htm')
(258, 2005, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(259, 2005, 'GA', 9.5, None, '/nchs/pressroom/states/georgia/georgia.htm')

In [27]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS medianincome")

#Creating table as per requirement
sql ='''CREATE TABLE medianincome( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   MEDIANINCOME INT
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table medianincome already exists

In [11]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE infantlatest( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

Table created successfully.............

In [27]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE teen2018( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

Table created successfully.............

In [39]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE unmarried2018( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

Table created successfully.............

In [49]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE birthweight2018( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

Table created successfully.............

In [28]:
medianincome_df = pd.read_csv("MedianIncome2018byState.csv")
medianincome_df.insert(0, "ID", range(0, len(medianincome_df)))

In [29]:
medianincome_df.to_sql("medianincome", conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: medianincome.ID

In [4]:
infant_df_2018 = pd.read_csv("Infant_Mortality_Rates_by_State.csv")
infant_df_2018.head()

     YEAR STATE  RATE DEATHS                                       URL
0  2018.0    AL   7.0    405     /nchs/pressroom/states/alabama/al.htm
1  2018.0    AK   5.9     60      /nchs/pressroom/states/alaska/ak.htm
2  2018.0    AZ   5.6    451     /nchs/pressroom/states/arizona/az.htm
3  2018.0    AR   7.5    279    /nchs/pressroom/states/arkansas/ar.htm
4  2018.0    CA   4.2   1909  /nchs/pressroom/states/california/ca.htm

In [5]:
infant_df_2018.insert(0, "ID", range(0, len(infant_df_2018)))

In [6]:
infant_df_2018.head(
)

   ID    YEAR STATE  RATE DEATHS                                       URL
0   0  2018.0    AL   7.0    405     /nchs/pressroom/states/alabama/al.htm
1   1  2018.0    AK   5.9     60      /nchs/pressroom/states/alaska/ak.htm
2   2  2018.0    AZ   5.6    451     /nchs/pressroom/states/arizona/az.htm
3   3  2018.0    AR   7.5    279    /nchs/pressroom/states/arkansas/ar.htm
4   4  2018.0    CA   4.2   1909  /nchs/pressroom/states/california/ca.htm

In [9]:
infant_df_2018_sorted = infant_df_2018.loc[infant_df_2018["YEAR"] == 2018.0]

In [12]:
conn = sqlite3.connect(db_file)

In [13]:
infant_df_2018_sorted
infant_df_2018_sorted.to_sql("infantlatest", conn, if_exists='append', index=False)

In [15]:
teen_df = pd.read_csv("Teen Birth Rate by State.csv")

In [18]:
teen_df.insert(0, "ID", range(0, len(teen_df)))

In [19]:
teen_df

,ID,YEAR,STATE,RATE,URL
0,0,2018.0,AL,25.2,/nchs/pressroom/states/alabama/al.htm
1,1,2018.0,AK,19.3,/nchs/pressroom/states/alaska/ak.htm
2,2,2018.0,AZ,20.1,/nchs/pressroom/states/arizona/az.htm
3,3,2018.0,AR,30.4,/nchs/pressroom/states/arkansas/ar.htm
4,4,2018.0,CA,13.6,/nchs/pressroom/states/california/ca.htm
...,...,...,...,...,...
296,296,2005.0,WA,31.1,/nchs/pressroom/states/washington/washington.htm
297,297,2005.0,WV,43.4,/nchs/pressroom/states/westvirginia/westvirgin...
298,298,2005.0,WI,30.3,/nchs/pressroom/states/wisconsin/wisconsin.htm
299,299,2005.0,WY,43.2,/nchs/pressroom/states/wyoming/wyoming.htm
300,300,NaN,NaN,NaN,NaN

In [26]:
teen2018_df = teen_df.loc[teen_df["YEAR"] == 2018.0]

In [54]:
teen2018_df

    ID    YEAR STATE  RATE                                          URL
0    0  2018.0    AL  25.2        /nchs/pressroom/states/alabama/al.htm
1    1  2018.0    AK  19.3         /nchs/pressroom/states/alaska/ak.htm
2    2  2018.0    AZ  20.1        /nchs/pressroom/states/arizona/az.htm
3    3  2018.0    AR  30.4       /nchs/pressroom/states/arkansas/ar.htm
4    4  2018.0    CA  13.6     /nchs/pressroom/states/california/ca.htm
5    5  2018.0    CO  14.3       /nchs/pressroom/states/colorado/co.htm
6    6  2018.0    CT   8.3    /nchs/pressroom/states/connecticut/ct.htm
7    7  2018.0    DE  16.7       /nchs/pressroom/states/delaware/de.htm
8    8  2018.0    FL  16.7        /nchs/pressroom/states/florida/fl.htm
9    9  2018.0    GA  20.6        /nchs/pressroom/states/georgia/ga.htm
10  10  2018.0    HI  17.2         /nchs/pressroom/states/hawaii/hi.htm
11  11  2018.0    ID  16.0          /nchs/pressroom/states/idaho/id.htm
12  12  2018.0    IL  15.8       /nchs/pressroom/states/illinois/il.htm
13  13  2018.0    IN  21.8        /nchs/pressroom/states/indiana/in.htm
14  14  2018.0    IA  15.3           /nchs/pressroom/states/iowa/ia.htm
15  15  2018.0    KS  20.0         /nchs/pressroom/states/kansas/ks.htm
16  16  2018.0    KY  27.3       /nchs/pressroom/states/kentucky/ky.htm
17  17  2018.0    LA  27.5      /nchs/pressroom/states/louisiana/la.htm
18  18  2018.0    ME  11.1          /nchs/pressroom/states/maine/me.htm
19  19  2018.0    MD  14.1       /nchs/pressroom/states/maryland/md.htm
20  20  2018.0    MA   7.2  /nchs/pressroom/states/massachusetts/ma.htm
21  21  2018.0    MI  15.8       /nchs/pressroom/states/michigan/mi.htm
22  22  2018.0    MN  10.2      /nchs/pressroom/states/minnesota/mn.htm
23  23  2018.0    MS  27.8    /nchs/pressroom/states/mississippi/ms.htm
24  24  2018.0    MO  21.6       /nchs/pressroom/states/missouri/mo.htm
25  25  2018.0    MT  17.2        /nchs/pressroom/states/montana/mt.htm
26  26  2018.0    NE  16.7       /nchs/pressroom/states/nebraska/ne.htm
27  27  2018.0    NV  20.5         /nchs/pressroom/states/nevada/nv.htm
28  28  2018.0    NH   8.0   /nchs/pressroom/states/newhampshire/nh.htm
29  29  2018.0    NJ  10.3      /nchs/pressroom/states/newjersey/nj.htm
30  30  2018.0    NM  25.3      /nchs/pressroom/states/newmexico/nm.htm
31  31  2018.0    NY  11.7        /nchs/pressroom/states/newyork/ny.htm
32  32  2018.0    NC  18.7  /nchs/pressroom/states/northcarolina/nc.htm
33  33  2018.0    ND  16.4    /nchs/pressroom/states/northdakota/nd.htm
34  34  2018.0    OH  18.9           /nchs/pressroom/states/ohio/oh.htm
35  35  2018.0    OK  27.2       /nchs/pressroom/states/oklahoma/ok.htm
36  36  2018.0    OR  13.3         /nchs/pressroom/states/oregon/or.htm
37  37  2018.0    PA  14.1   /nchs/pressroom/states/pennsylvania/pa.htm
38  38  2018.0    RI  11.5    /nchs/pressroom/states/rhodeisland/ri.htm
39  39  2018.0    SC  22.0  /nchs/pressroom/states/southcarolina/sc.htm
40  40  2018.0    SD  20.4    /nchs/pressroom/states/southdakota/sd.htm
41  41  2018.0    TN  25.3      /nchs/pressroom/states/tennessee/tn.htm
42  42  2018.0    TX  25.3          /nchs/pressroom/states/texas/tx.htm
43  43  2018.0    UT  13.1           /nchs/pressroom/states/utah/ut.htm
44  44  2018.0    VT   8.8        /nchs/pressroom/states/vermont/vt.htm
45  45  2018.0    VA  14.3       /nchs/pressroom/states/virginia/va.htm
46  46  2018.0    WA  12.7     /nchs/pressroom/states/washington/wa.htm
47  47  2018.0    WV  25.4   /nchs/pressroom/states/westvirginia/wv.htm
48  48  2018.0    WI  13.0      /nchs/pressroom/states/wisconsin/wi.htm
49  49  2018.0    WY  20.8        /nchs/pressroom/states/wyoming/wy.htm

In [28]:
conn = sqlite3.connect(db_file)

In [29]:
teen2018_df.to_sql("teen2018", conn, if_exists='append', index=False)

In [31]:
conn.close()

In [33]:
unmarried2_df = pd.read_csv("Unmarried Mothers by State.csv")

In [34]:
unmarried2_df.insert(0, "ID", range(0, len(unmarried2_df)))

In [35]:
unmarried2018_df = unmarried2_df.loc[unmarried2_df["YEAR"] == 2018.0]

In [38]:
unmarried2018_df.head()

   ID    YEAR STATE  RATE                                       URL
0   0  2018.0    AL  46.8     /nchs/pressroom/states/alabama/al.htm
1   1  2018.0    AK  35.3      /nchs/pressroom/states/alaska/ak.htm
2   2  2018.0    AZ  44.9     /nchs/pressroom/states/arizona/az.htm
3   3  2018.0    AR  45.4    /nchs/pressroom/states/arkansas/ar.htm
4   4  2018.0    CA  37.1  /nchs/pressroom/states/california/ca.htm

In [40]:
conn = sqlite3.connect(db_file)

In [41]:
unmarried2018_df.to_sql("unmarried2018", conn, if_exists='append', index=False)

In [42]:
conn.close()

In [45]:
birthweight_df = pd.read_csv("Low Birthweight by State.csv")

In [46]:
birthweight_df.insert(0, "ID", range(0, len(birthweight_df)))

In [47]:
birthweight2018_df = birthweight_df.loc[birthweight_df["YEAR"] == 2018.0]

In [48]:
birthweight_df.head(
)

   ID    YEAR STATE  RATE                                               URL
0   0  2018.0    AL  10.7        /nchs/pressroom/states/alabama/alabama.htm
1   1  2018.0    AK   5.9          /nchs/pressroom/states/alaska/alaska.htm
2   2  2018.0    AZ   7.6        /nchs/pressroom/states/arizona/arizona.htm
3   3  2018.0    AR   9.4      /nchs/pressroom/states/arkansas/arkansas.htm
4   4  2018.0    CA   7.0  /nchs/pressroom/states/california/california.htm

In [50]:
conn = sqlite3.connect(db_file)

In [51]:
birthweight2018_df.to_sql("birthweight2018", conn, if_exists='append', index=False)

In [52]:
conn.close()