In [1]:
import csv
import pandas as pd 
import sqlite3

In [2]:
db_file = "db2.sqlite"

In [3]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS birthweight")

#Creating table as per requirement
sql ='''CREATE TABLE birthweight( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table birthweight already exists

In [ ]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS teen")

#Creating table as per requirement
sql ='''CREATE TABLE teen( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

In [ ]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS unmarried")

#Creating table as per requirement
sql ='''CREATE TABLE unmarried( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

In [ ]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS infant")

#Creating table as per requirement
sql ='''CREATE TABLE infant( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR(255)
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

In [ ]:
lowweight_df = pd.read_csv("Low Birthweight by State.csv")
lowweight_df.insert(0, "ID", range(0, len(infant_df)))

teenbirth_df = pd.read_csv("Teen Birth Rate by State.csv")
teenbirth_df.insert(0, "ID", range(0, len(infant_df)))

unmarried_df = pd.read_csv("Unmarried Mothers by State.csv")
unmarried_df.insert(0, "ID", range(0, len(infant_df)))

infant_df = pd.read_csv("Infant_Mortality_Rates_by_State.csv")
infant_df.insert(0, "ID", range(0, len(infant_df)))

In [ ]:
conn = sqlite3.connect(db_file)

In [4]:
infant_df.to_sql("infant", conn, if_exists='append', index=False)
teenbirth_df.to_sql("teen", conn, if_exists='append', index=False)
unmarried_df.to_sql("unmarried", conn, if_exists='append', index=False)
lowweight_df.to_sql("birthweight", conn, if_exists='append', index=False)

NameError: name 'infant_df' is not defined

In [5]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM birthweight;")

conn.commit()
conn.close()

In [6]:

conn = sqlite3.connect(db_file)

def sql_fetch(conn):

    cursorObj = conn.cursor()

    cursorObj.execute('SELECT * FROM birthweight')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(conn)

conn.close()

(0, 2018, 'AL', 10.7, None, '/nchs/pressroom/states/alabama/alabama.htm')
(1, 2018, 'AK', 5.9, None, '/nchs/pressroom/states/alaska/alaska.htm')
(2, 2018, 'AZ', 7.6, None, '/nchs/pressroom/states/arizona/arizona.htm')
(3, 2018, 'AR', 9.4, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(4, 2018, 'CA', 7, None, '/nchs/pressroom/states/california/california.htm')
(5, 2018, 'CO', 9.4, None, '/nchs/pressroom/states/colorado/colorado.htm')
(6, 2018, 'CT', 7.6, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(7, 2018, 'DE', 8.9, None, '/nchs/pressroom/states/delaware/delaware.htm')
(8, 2018, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(9, 2018, 'GA', 10.1, None, '/nchs/pressroom/states/georgia/georgia.htm')
(10, 2018, 'HI', 8.3, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(11, 2018, 'ID', 7.3, None, '/nchs/pressroom/states/idaho/idaho.htm')
(12, 2018, 'IL', 8.5, None, '/nchs/pressroom/states/illinois/illinois.htm')
(13, 2018, 'IN', 8.1, None, '/nchs/pressroom/states/indiana/indiana.htm')
(14, 2018, 'IA', 6.9, None, '/nchs/pressroom/states/iowa/iowa.htm')
(15, 2018, 'KS', 7.4, None, '/nchs/pressroom/states/kansas/kansas.htm')
(16, 2018, 'KY', 8.9, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(17, 2018, 'LA', 10.8, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(18, 2018, 'ME', 7.2, None, '/nchs/pressroom/states/maine/maine.htm')
(19, 2018, 'MD', 8.8, None, '/nchs/pressroom/states/maryland/maryland.htm')
(20, 2018, 'MA', 7.6, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(21, 2018, 'MI', 8.5, None, '/nchs/pressroom/states/michigan/michigan.htm')
(22, 2018, 'MN', 6.9, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(23, 2018, 'MS', 12.1, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(24, 2018, 'MO', 8.7, None, '/nchs/pressroom/states/missouri/missouri.htm')
(25, 2018, 'MT', 7.4, None, '/nchs/pressroom/states/montana/montana.htm')
(26, 2018, 'NE', 7.6, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(27, 2018, 'NV', 8.7, None, '/nchs/pressroom/states/nevada/nevada.htm')
(28, 2018, 'NH', 6.8, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(29, 2018, 'NJ', 7.9, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(30, 2018, 'NM', 9, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(31, 2018, 'NY', 8.1, None, '/nchs/pressroom/states/newyork/newyork.htm')
(32, 2018, 'NC', 9.2, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(33, 2018, 'ND', 6.6, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(34, 2018, 'OH', 8.5, None, '/nchs/pressroom/states/ohio/ohio.htm')
(35, 2018, 'OK', 8.3, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(36, 2018, 'OR', 6.7, None, '/nchs/pressroom/states/oregon/oregon.htm')
(37, 2018, 'PA', 8.3, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(38, 2018, 'RI', 7.6, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(39, 2018, 'SC', 9.6, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(40, 2018, 'SD', 6.6, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(41, 2018, 'TN', 9.3, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(42, 2018, 'TX', 8.5, None, '/nchs/pressroom/states/texas/texas.htm')
(43, 2018, 'UT', 7.2, None, '/nchs/pressroom/states/utah/utah.htm')
(44, 2018, 'VT', 7, None, '/nchs/pressroom/states/vermont/vermont.htm')
(45, 2018, 'VA', 8.2, None, '/nchs/pressroom/states/virginia/virginia.htm')
(46, 2018, 'WA', 6.6, None, '/nchs/pressroom/states/washington/washington.htm')
(47, 2018, 'WV', 9.4, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(48, 2018, 'WI', 7.7, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(49, 2018, 'WY', 9.4, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(50, 2017, 'AL', 10.3, None, '/nchs/pressroom/states/alabama/alabama.htm')
(51, 2017, 'AK', 6.2, None, '/nchs/pressroom/states/alaska/alaska.htm')
(52, 2017, 'AZ', 7.5, None, '/nchs/pressroom/states/arizona/arizona.htm')
(53, 2017, 'AR', 9.3, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(54, 2017, 'CA', 6.9, None, '/nchs/pressroom/states/california/california.htm')
(55, 2017, 'CO', 9.1, None, '/nchs/pressroom/states/colorado/colorado.htm')
(56, 2017, 'CT', 8.1, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(57, 2017, 'DE', 9, None, '/nchs/pressroom/states/delaware/delaware.htm')
(58, 2017, 'FL', 8.8, None, '/nchs/pressroom/states/florida/florida.htm')
(59, 2017, 'GA', 9.9, None, '/nchs/pressroom/states/georgia/georgia.htm')
(60, 2017, 'HI', 8.5, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(61, 2017, 'ID', 7, None, '/nchs/pressroom/states/idaho/idaho.htm')
(62, 2017, 'IL', 8.5, None, '/nchs/pressroom/states/illinois/illinois.htm')
(63, 2017, 'IN', 8.3, None, '/nchs/pressroom/states/indiana/indiana.htm')
(64, 2017, 'IA', 6.6, None, '/nchs/pressroom/states/iowa/iowa.htm')
(65, 2017, 'KS', 7.4, None, '/nchs/pressroom/states/kansas/kansas.htm')
(66, 2017, 'KY', 8.8, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(67, 2017, 'LA', 10.7, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(68, 2017, 'ME', 7.1, None, '/nchs/pressroom/states/maine/maine.htm')
(69, 2017, 'MD', 8.9, None, '/nchs/pressroom/states/maryland/maryland.htm')
(70, 2017, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(71, 2017, 'MI', 8.8, None, '/nchs/pressroom/states/michigan/michigan.htm')
(72, 2017, 'MN', 6.7, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(73, 2017, 'MS', 11.6, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(74, 2017, 'MO', 8.7, None, '/nchs/pressroom/states/missouri/missouri.htm')
(75, 2017, 'MT', 8, None, '/nchs/pressroom/states/montana/montana.htm')
(76, 2017, 'NE', 7.5, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(77, 2017, 'NV', 9.1, None, '/nchs/pressroom/states/nevada/nevada.htm')
(78, 2017, 'NH', 6.9, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(79, 2017, 'NJ', 7.9, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(80, 2017, 'NM', 9.5, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(81, 2017, 'NY', 8.1, None, '/nchs/pressroom/states/newyork/newyork.htm')
(82, 2017, 'NC', 9.4, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(83, 2017, 'ND', 6.7, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(84, 2017, 'OH', 8.7, None, '/nchs/pressroom/states/ohio/ohio.htm')
(85, 2017, 'OK', 8.1, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(86, 2017, 'OR', 6.8, None, '/nchs/pressroom/states/oregon/oregon.htm')
(87, 2017, 'PA', 8.4, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(88, 2017, 'RI', 7.5, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(89, 2017, 'SC', 9.7, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(90, 2017, 'SD', 6.9, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(91, 2017, 'TN', 9.2, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(92, 2017, 'TX', 8.4, None, '/nchs/pressroom/states/texas/texas.htm')
(93, 2017, 'UT', 7.2, None, '/nchs/pressroom/states/utah/utah.htm')
(94, 2017, 'VT', 6.7, None, '/nchs/pressroom/states/vermont/vermont.htm')
(95, 2017, 'VA', 8.4, None, '/nchs/pressroom/states/virginia/virginia.htm')
(96, 2017, 'WA', 6.6, None, '/nchs/pressroom/states/washington/washington.htm')
(97, 2017, 'WV', 9.5, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(98, 2017, 'WI', 7.7, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(99, 2017, 'WY', 8.7, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(100, 2016, 'AL', 10.3, None, '/nchs/pressroom/states/alabama/alabama.htm')
(101, 2016, 'AK', 5.9, None, '/nchs/pressroom/states/alaska/alaska.htm')
(102, 2016, 'AZ', 7.3, None, '/nchs/pressroom/states/arizona/arizona.htm')
(103, 2016, 'AR', 8.8, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(104, 2016, 'CA', 6.8, None, '/nchs/pressroom/states/california/california.htm')
(105, 2016, 'CO', 9, None, '/nchs/pressroom/states/colorado/colorado.htm')
(106, 2016, 'CT', 7.8, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(107, 2016, 'DE', 8.9, None, '/nchs/pressroom/states/delaware/delaware.htm')
(108, 2016, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(109, 2016, 'GA', 9.8, None, '/nchs/pressroom/states/georgia/georgia.htm')
(110, 2016, 'HI', 8.5, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(111, 2016, 'ID', 7, None, '/nchs/pressroom/states/idaho/idaho.htm')
(112, 2016, 'IL', 8.4, None, '/nchs/pressroom/states/illinois/illinois.htm')
(113, 2016, 'IN', 8.2, None, '/nchs/pressroom/states/indiana/indiana.htm')
(114, 2016, 'IA', 6.8, None, '/nchs/pressroom/states/iowa/iowa.htm')
(115, 2016, 'KS', 7, None, '/nchs/pressroom/states/kansas/kansas.htm')
(116, 2016, 'KY', 9.1, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(117, 2016, 'LA', 10.6, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(118, 2016, 'ME', 7.1, None, '/nchs/pressroom/states/maine/maine.htm')
(119, 2016, 'MD', 8.5, None, '/nchs/pressroom/states/maryland/maryland.htm')
(120, 2016, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(121, 2016, 'MI', 8.5, None, '/nchs/pressroom/states/michigan/michigan.htm')
(122, 2016, 'MN', 6.6, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(123, 2016, 'MS', 11.5, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(124, 2016, 'MO', 8.7, None, '/nchs/pressroom/states/missouri/missouri.htm')
(125, 2016, 'MT', 7.9, None, '/nchs/pressroom/states/montana/montana.htm')
(126, 2016, 'NE', 7, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(127, 2016, 'NV', 8.5, None, '/nchs/pressroom/states/nevada/nevada.htm')
(128, 2016, 'NH', 6.4, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(129, 2016, 'NJ', 8.1, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(130, 2016, 'NM', 9, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(131, 2016, 'NY', 7.9, None, '/nchs/pressroom/states/newyork/newyork.htm')
(132, 2016, 'NC', 9.2, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(133, 2016, 'ND', 6.6, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(134, 2016, 'OH', 8.7, None, '/nchs/pressroom/states/ohio/ohio.htm')
(135, 2016, 'OK', 7.8, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(136, 2016, 'OR', 6.5, None, '/nchs/pressroom/states/oregon/oregon.htm')
(137, 2016, 'PA', 8.2, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(138, 2016, 'RI', 8, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(139, 2016, 'SC', 9.6, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(140, 2016, 'SD', 6.8, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(141, 2016, 'TN', 9.3, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(142, 2016, 'TX', 8.4, None, '/nchs/pressroom/states/texas/texas.htm')
(143, 2016, 'UT', 7.2, None, '/nchs/pressroom/states/utah/utah.htm')
(144, 2016, 'VT', 6.9, None, '/nchs/pressroom/states/vermont/vermont.htm')
(145, 2016, 'VA', 8.1, None, '/nchs/pressroom/states/virginia/virginia.htm')
(146, 2016, 'WA', 6.4, None, '/nchs/pressroom/states/washington/washington.htm')
(147, 2016, 'WV', 9.6, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(148, 2016, 'WI', 7.4, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(149, 2016, 'WY', 8.5, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(150, 2015, 'AL', 10.4, None, '/nchs/pressroom/states/alabama/alabama.htm')
(151, 2015, 'AK', 5.8, None, '/nchs/pressroom/states/alaska/alaska.htm')
(152, 2015, 'AZ', 7.2, None, '/nchs/pressroom/states/arizona/arizona.htm')
(153, 2015, 'AR', 9.2, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(154, 2015, 'CA', 6.8, None, '/nchs/pressroom/states/california/california.htm')
(155, 2015, 'CO', 9, None, '/nchs/pressroom/states/colorado/colorado.htm')
(156, 2015, 'CT', 7.9, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(157, 2015, 'DE', 9.3, None, '/nchs/pressroom/states/delaware/delaware.htm')
(158, 2015, 'FL', 8.6, None, '/nchs/pressroom/states/florida/florida.htm')
(159, 2015, 'GA', 9.5, None, '/nchs/pressroom/states/georgia/georgia.htm')
(160, 2015, 'HI', 8.3, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(161, 2015, 'ID', 6.6, None, '/nchs/pressroom/states/idaho/idaho.htm')
(162, 2015, 'IL', 8.3, None, '/nchs/pressroom/states/illinois/illinois.htm')
(163, 2015, 'IN', 8, None, '/nchs/pressroom/states/indiana/indiana.htm')
(164, 2015, 'IA', 6.7, None, '/nchs/pressroom/states/iowa/iowa.htm')
(165, 2015, 'KS', 6.8, None, '/nchs/pressroom/states/kansas/kansas.htm')
(166, 2015, 'KY', 8.7, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(167, 2015, 'LA', 10.6, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(168, 2015, 'ME', 6.9, None, '/nchs/pressroom/states/maine/maine.htm')
(169, 2015, 'MD', 8.6, None, '/nchs/pressroom/states/maryland/maryland.htm')
(170, 2015, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(171, 2015, 'MI', 8.5, None, '/nchs/pressroom/states/michigan/michigan.htm')
(172, 2015, 'MN', 6.4, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(173, 2015, 'MS', 11.4, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(174, 2015, 'MO', 8.3, None, '/nchs/pressroom/states/missouri/missouri.htm')
(175, 2015, 'MT', 7.1, None, '/nchs/pressroom/states/montana/montana.htm')
(176, 2015, 'NE', 7.1, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(177, 2015, 'NV', 8.5, None, '/nchs/pressroom/states/nevada/nevada.htm')
(178, 2015, 'NH', 6.9, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(179, 2015, 'NJ', 8.1, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(180, 2015, 'NM', 8.7, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(181, 2015, 'NY', 7.8, None, '/nchs/pressroom/states/newyork/newyork.htm')
(182, 2015, 'NC', 9.1, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(183, 2015, 'ND', 6.2, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(184, 2015, 'OH', 8.5, None, '/nchs/pressroom/states/ohio/ohio.htm')
(185, 2015, 'OK', 7.9, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(186, 2015, 'OR', 6.4, None, '/nchs/pressroom/states/oregon/oregon.htm')
(187, 2015, 'PA', 8.2, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(188, 2015, 'RI', 7.6, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(189, 2015, 'SC', 9.5, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(190, 2015, 'SD', 6.1, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(191, 2015, 'TN', 9.2, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(192, 2015, 'TX', 8.2, None, '/nchs/pressroom/states/texas/texas.htm')
(193, 2015, 'UT', 7, None, '/nchs/pressroom/states/utah/utah.htm')
(194, 2015, 'VT', 6.6, None, '/nchs/pressroom/states/vermont/vermont.htm')
(195, 2015, 'VA', 7.9, None, '/nchs/pressroom/states/virginia/virginia.htm')
(196, 2015, 'WA', 6.4, None, '/nchs/pressroom/states/washington/washington.htm')
(197, 2015, 'WV', 9.6, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(198, 2015, 'WI', 7.3, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(199, 2015, 'WY', 8.6, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(200, 2014, 'AL', 10.1, None, '/nchs/pressroom/states/alabama/alabama.htm')
(201, 2014, 'AK', 5.9, None, '/nchs/pressroom/states/alaska/alaska.htm')
(202, 2014, 'AZ', 7, None, '/nchs/pressroom/states/arizona/arizona.htm')
(203, 2014, 'AR', 8.9, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(204, 2014, 'CA', 6.7, None, '/nchs/pressroom/states/california/california.htm')
(205, 2014, 'CO', 8.8, None, '/nchs/pressroom/states/colorado/colorado.htm')
(206, 2014, 'CT', 7.6, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(207, 2014, 'DE', 8.3, None, '/nchs/pressroom/states/delaware/delaware.htm')
(208, 2014, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(209, 2014, 'GA', 9.5, None, '/nchs/pressroom/states/georgia/georgia.htm')
(210, 2014, 'HI', 7.9, None, '/nchs/pressroom/states/hawaii/hawaii.htm')
(211, 2014, 'ID', 6.4, None, '/nchs/pressroom/states/idaho/idaho.htm')
(212, 2014, 'IL', 8.2, None, '/nchs/pressroom/states/illinois/illinois.htm')
(213, 2014, 'IN', 8, None, '/nchs/pressroom/states/indiana/indiana.htm')
(214, 2014, 'IA', 6.7, None, '/nchs/pressroom/states/iowa/iowa.htm')
(215, 2014, 'KS', 7, None, '/nchs/pressroom/states/kansas/kansas.htm')
(216, 2014, 'KY', 8.8, None, '/nchs/pressroom/states/kentucky/kentucky.htm')
(217, 2014, 'LA', 10.5, None, '/nchs/pressroom/states/louisiana/louisiana.htm')
(218, 2014, 'ME', 7.6, None, '/nchs/pressroom/states/maine/maine.htm')
(219, 2014, 'MD', 8.6, None, '/nchs/pressroom/states/maryland/maryland.htm')
(220, 2014, 'MA', 7.5, None, '/nchs/pressroom/states/massachusetts/massachusetts.htm')
(221, 2014, 'MI', 8.4, None, '/nchs/pressroom/states/michigan/michigan.htm')
(222, 2014, 'MN', 6.6, None, '/nchs/pressroom/states/minnesota/minnesota.htm')
(223, 2014, 'MS', 11.3, None, '/nchs/pressroom/states/mississippi/mississippi.htm')
(224, 2014, 'MO', 8.2, None, '/nchs/pressroom/states/missouri/missouri.htm')
(225, 2014, 'MT', 7.4, None, '/nchs/pressroom/states/montana/montana.htm')
(226, 2014, 'NE', 6.6, None, '/nchs/pressroom/states/nebraska/nebraska.htm')
(227, 2014, 'NV', 8.3, None, '/nchs/pressroom/states/nevada/nevada.htm')
(228, 2014, 'NH', 6.9, None, '/nchs/pressroom/states/newhampshire/newhampshire.htm')
(229, 2014, 'NJ', 8.1, None, '/nchs/pressroom/states/newjersey/newjersey.htm')
(230, 2014, 'NM', 8.8, None, '/nchs/pressroom/states/newmexico/newmexico.htm')
(231, 2014, 'NY', 7.9, None, '/nchs/pressroom/states/newyork/newyork.htm')
(232, 2014, 'NC', 8.9, None, '/nchs/pressroom/states/northcarolina/northcarolina.htm')
(233, 2014, 'ND', 6.2, None, '/nchs/pressroom/states/northdakota/northdakota.htm')
(234, 2014, 'OH', 8.5, None, '/nchs/pressroom/states/ohio/ohio.htm')
(235, 2014, 'OK', 8, None, '/nchs/pressroom/states/oklahoma/oklahoma.htm')
(236, 2014, 'OR', 6.2, None, '/nchs/pressroom/states/oregon/oregon.htm')
(237, 2014, 'PA', 8.3, None, '/nchs/pressroom/states/pennsylvania/pennsylvania.htm')
(238, 2014, 'RI', 7.1, None, '/nchs/pressroom/states/rhodeisland/rhodeisland.htm')
(239, 2014, 'SC', 9.4, None, '/nchs/pressroom/states/southcarolina/southcarolina.htm')
(240, 2014, 'SD', 6.5, None, '/nchs/pressroom/states/southdakota/southdakota.htm')
(241, 2014, 'TN', 9, None, '/nchs/pressroom/states/tenessee/tennessee.htm')
(242, 2014, 'TX', 8.2, None, '/nchs/pressroom/states/texas/texas.htm')
(243, 2014, 'UT', 7, None, '/nchs/pressroom/states/utah/utah.htm')
(244, 2014, 'VT', 7.1, None, '/nchs/pressroom/states/vermont/vermont.htm')
(245, 2014, 'VA', 7.9, None, '/nchs/pressroom/states/virginia/virginia.htm')
(246, 2014, 'WA', 6.4, None, '/nchs/pressroom/states/washington/washington.htm')
(247, 2014, 'WV', 9.1, None, '/nchs/pressroom/states/westvirginia/westvirginia.htm')
(248, 2014, 'WI', 7.3, None, '/nchs/pressroom/states/wisconsin/wisconsin.htm')
(249, 2014, 'WY', 9.2, None, '/nchs/pressroom/states/wyoming/wyoming.htm')
(250, 2005, 'AL', 10.7, None, '/nchs/pressroom/states/alabama/alabama.htm')
(251, 2005, 'AK', 6.1, None, '/nchs/pressroom/states/alaska/alaska.htm')
(252, 2005, 'AZ', 6.9, None, '/nchs/pressroom/states/arizona/arizona.htm')
(253, 2005, 'AR', 8.9, None, '/nchs/pressroom/states/arkansas/arkansas.htm')
(254, 2005, 'CA', 6.9, None, '/nchs/pressroom/states/california/california.htm')
(255, 2005, 'CO', 9.2, None, '/nchs/pressroom/states/colorado/colorado.htm')
(256, 2005, 'CT', 8, None, '/nchs/pressroom/states/connecticut/connecticut.htm')
(257, 2005, 'DE', 9.5, None, '/nchs/pressroom/states/delaware/delaware.htm')
(258, 2005, 'FL', 8.7, None, '/nchs/pressroom/states/florida/florida.htm')
(259, 2005, 'GA', 9.5, None, '/nchs/pressroom/states/georgia/georgia.htm')

In [12]:
conn = sqlite3.connect(db_file)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping INFANT_MORTALITY table if already exists.
# cursor.execute("DROP TABLE IF EXISTS medianincome")

#Creating table as per requirement
sql ='''CREATE TABLE medianincome( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   MEDIANINCOME INT
)'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

OperationalError: table medianincome already exists

In [13]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE infantlatest( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   DEATHS INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

OperationalError: table infantlatest already exists

In [14]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE teen2018( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

OperationalError: table teen2018 already exists

In [15]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE unmarried2018( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

OperationalError: table unmarried2018 already exists

In [16]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE birthweight2018( 
   ID INT PRIMARY KEY,
   YEAR INT,
   STATE CHAR(2),
   RATE INT,
   URL CHAR
)'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

OperationalError: table birthweight2018 already exists

In [22]:
medianincome_df = pd.read_csv("MedianIncome2018byState.csv")
medianincome_df.insert(0, "ID", range(0, len(medianincome_df)))

In [23]:
medianincome_df.to_sql("medianincome", conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: medianincome.ID

In [24]:
medianincome_df.head()

   ID  YEAR STATE MEDIANINCOME
0   0  2018    AL       49,936
1   1  2018    AK       68,734
2   2  2018    AZ       62,283
3   3  2018    AR       49,781
4   4  2018    CA       70,489

In [25]:
infant_df_2018 = pd.read_csv("Infant_Mortality_Rates_by_State.csv")
infant_df_2018.head()

     YEAR STATE  RATE DEATHS                                       URL
0  2018.0    AL   7.0    405     /nchs/pressroom/states/alabama/al.htm
1  2018.0    AK   5.9     60      /nchs/pressroom/states/alaska/ak.htm
2  2018.0    AZ   5.6    451     /nchs/pressroom/states/arizona/az.htm
3  2018.0    AR   7.5    279    /nchs/pressroom/states/arkansas/ar.htm
4  2018.0    CA   4.2   1909  /nchs/pressroom/states/california/ca.htm

In [26]:
infant_df_2018.insert(0, "ID", range(0, len(infant_df_2018)))

In [27]:
infant_df_2018.head(
)

   ID    YEAR STATE  RATE DEATHS                                       URL
0   0  2018.0    AL   7.0    405     /nchs/pressroom/states/alabama/al.htm
1   1  2018.0    AK   5.9     60      /nchs/pressroom/states/alaska/ak.htm
2   2  2018.0    AZ   5.6    451     /nchs/pressroom/states/arizona/az.htm
3   3  2018.0    AR   7.5    279    /nchs/pressroom/states/arkansas/ar.htm
4   4  2018.0    CA   4.2   1909  /nchs/pressroom/states/california/ca.htm

In [28]:
infant_df_2018_sorted = infant_df_2018.loc[infant_df_2018["YEAR"] == 2018.0]

In [29]:
conn = sqlite3.connect(db_file)

In [30]:
infant_df_2018_sorted
infant_df_2018_sorted.to_sql("infantlatest", conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: infantlatest.ID

In [31]:
teen_df = pd.read_csv("Teen Birth Rate by State.csv")

In [32]:
teen_df.insert(0, "ID", range(0, len(teen_df)))

In [33]:
teen_df

,ID,YEAR,STATE,RATE,URL
0,0,2018.0,AL,25.2,/nchs/pressroom/states/alabama/al.htm
1,1,2018.0,AK,19.3,/nchs/pressroom/states/alaska/ak.htm
2,2,2018.0,AZ,20.1,/nchs/pressroom/states/arizona/az.htm
3,3,2018.0,AR,30.4,/nchs/pressroom/states/arkansas/ar.htm
4,4,2018.0,CA,13.6,/nchs/pressroom/states/california/ca.htm
...,...,...,...,...,...
296,296,2005.0,WA,31.1,/nchs/pressroom/states/washington/washington.htm
297,297,2005.0,WV,43.4,/nchs/pressroom/states/westvirginia/westvirgin...
298,298,2005.0,WI,30.3,/nchs/pressroom/states/wisconsin/wisconsin.htm
299,299,2005.0,WY,43.2,/nchs/pressroom/states/wyoming/wyoming.htm
300,300,NaN,NaN,NaN,NaN

In [34]:
teen2018_df = teen_df.loc[teen_df["YEAR"] == 2018.0]

In [35]:
teen2018_df

    ID    YEAR STATE  RATE                                          URL
0    0  2018.0    AL  25.2        /nchs/pressroom/states/alabama/al.htm
1    1  2018.0    AK  19.3         /nchs/pressroom/states/alaska/ak.htm
2    2  2018.0    AZ  20.1        /nchs/pressroom/states/arizona/az.htm
3    3  2018.0    AR  30.4       /nchs/pressroom/states/arkansas/ar.htm
4    4  2018.0    CA  13.6     /nchs/pressroom/states/california/ca.htm
5    5  2018.0    CO  14.3       /nchs/pressroom/states/colorado/co.htm
6    6  2018.0    CT   8.3    /nchs/pressroom/states/connecticut/ct.htm
7    7  2018.0    DE  16.7       /nchs/pressroom/states/delaware/de.htm
8    8  2018.0    FL  16.7        /nchs/pressroom/states/florida/fl.htm
9    9  2018.0    GA  20.6        /nchs/pressroom/states/georgia/ga.htm
10  10  2018.0    HI  17.2         /nchs/pressroom/states/hawaii/hi.htm
11  11  2018.0    ID  16.0          /nchs/pressroom/states/idaho/id.htm
12  12  2018.0    IL  15.8       /nchs/pressroom/states/illinois/il.htm
13  13  2018.0    IN  21.8        /nchs/pressroom/states/indiana/in.htm
14  14  2018.0    IA  15.3           /nchs/pressroom/states/iowa/ia.htm
15  15  2018.0    KS  20.0         /nchs/pressroom/states/kansas/ks.htm
16  16  2018.0    KY  27.3       /nchs/pressroom/states/kentucky/ky.htm
17  17  2018.0    LA  27.5      /nchs/pressroom/states/louisiana/la.htm
18  18  2018.0    ME  11.1          /nchs/pressroom/states/maine/me.htm
19  19  2018.0    MD  14.1       /nchs/pressroom/states/maryland/md.htm
20  20  2018.0    MA   7.2  /nchs/pressroom/states/massachusetts/ma.htm
21  21  2018.0    MI  15.8       /nchs/pressroom/states/michigan/mi.htm
22  22  2018.0    MN  10.2      /nchs/pressroom/states/minnesota/mn.htm
23  23  2018.0    MS  27.8    /nchs/pressroom/states/mississippi/ms.htm
24  24  2018.0    MO  21.6       /nchs/pressroom/states/missouri/mo.htm
25  25  2018.0    MT  17.2        /nchs/pressroom/states/montana/mt.htm
26  26  2018.0    NE  16.7       /nchs/pressroom/states/nebraska/ne.htm
27  27  2018.0    NV  20.5         /nchs/pressroom/states/nevada/nv.htm
28  28  2018.0    NH   8.0   /nchs/pressroom/states/newhampshire/nh.htm
29  29  2018.0    NJ  10.3      /nchs/pressroom/states/newjersey/nj.htm
30  30  2018.0    NM  25.3      /nchs/pressroom/states/newmexico/nm.htm
31  31  2018.0    NY  11.7        /nchs/pressroom/states/newyork/ny.htm
32  32  2018.0    NC  18.7  /nchs/pressroom/states/northcarolina/nc.htm
33  33  2018.0    ND  16.4    /nchs/pressroom/states/northdakota/nd.htm
34  34  2018.0    OH  18.9           /nchs/pressroom/states/ohio/oh.htm
35  35  2018.0    OK  27.2       /nchs/pressroom/states/oklahoma/ok.htm
36  36  2018.0    OR  13.3         /nchs/pressroom/states/oregon/or.htm
37  37  2018.0    PA  14.1   /nchs/pressroom/states/pennsylvania/pa.htm
38  38  2018.0    RI  11.5    /nchs/pressroom/states/rhodeisland/ri.htm
39  39  2018.0    SC  22.0  /nchs/pressroom/states/southcarolina/sc.htm
40  40  2018.0    SD  20.4    /nchs/pressroom/states/southdakota/sd.htm
41  41  2018.0    TN  25.3      /nchs/pressroom/states/tennessee/tn.htm
42  42  2018.0    TX  25.3          /nchs/pressroom/states/texas/tx.htm
43  43  2018.0    UT  13.1           /nchs/pressroom/states/utah/ut.htm
44  44  2018.0    VT   8.8        /nchs/pressroom/states/vermont/vt.htm
45  45  2018.0    VA  14.3       /nchs/pressroom/states/virginia/va.htm
46  46  2018.0    WA  12.7     /nchs/pressroom/states/washington/wa.htm
47  47  2018.0    WV  25.4   /nchs/pressroom/states/westvirginia/wv.htm
48  48  2018.0    WI  13.0      /nchs/pressroom/states/wisconsin/wi.htm
49  49  2018.0    WY  20.8        /nchs/pressroom/states/wyoming/wy.htm

In [36]:
conn = sqlite3.connect(db_file)

In [37]:
teen2018_df.to_sql("teen2018", conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: teen2018.ID

In [38]:
conn.close()

In [39]:
unmarried2_df = pd.read_csv("Unmarried Mothers by State.csv")

In [40]:
unmarried2_df.insert(0, "ID", range(0, len(unmarried2_df)))

In [41]:
unmarried2018_df = unmarried2_df.loc[unmarried2_df["YEAR"] == 2018.0]

In [42]:
unmarried2018_df.head()

   ID    YEAR STATE  RATE                                       URL
0   0  2018.0    AL  46.8     /nchs/pressroom/states/alabama/al.htm
1   1  2018.0    AK  35.3      /nchs/pressroom/states/alaska/ak.htm
2   2  2018.0    AZ  44.9     /nchs/pressroom/states/arizona/az.htm
3   3  2018.0    AR  45.4    /nchs/pressroom/states/arkansas/ar.htm
4   4  2018.0    CA  37.1  /nchs/pressroom/states/california/ca.htm

In [43]:
conn = sqlite3.connect(db_file)

In [44]:
unmarried2018_df.to_sql("unmarried2018", conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: unmarried2018.ID

In [45]:
conn.close()

In [46]:
medianincome_df
infant_df_2018_sorted
teen2018_df
unmarried2018_df
birthweight2018_df

NameError: name 'birthweight2018_df' is not defined

In [47]:
combined_df1 = infant_df_2018_sorted.merge(medianincome_df, on="ID")

In [48]:
del combined_df1["YEAR_x"]

In [49]:
combined_df1 = combined_df1.merge(teen2018_df, on="ID")

In [50]:
combined_df1 = combined_df1.rename(columns={"RATE_x" : "Infant_Death_Per_1000", "DEATHS" : "Infant_Deaths", "YEAR_y" : "Year", "RATE_y" : "Teen_Birth_Rate_Per_1000"})

In [51]:
del combined_df1["YEAR"]

In [52]:
combined_df1 = combined_df1.rename(columns={"MEDIANINCOME" : "Median_Income"})

In [53]:
combined_df1.head(5)

,ID,STATE_x,Infant_Death_Per_1000,Infant_Deaths,URL_x,Year,STATE_y,Median_Income,STATE,Teen_Birth_Rate_Per_1000,URL_y
0,0,AL,7.0,405,/nchs/pressroom/states/alabama/al.htm,2018,AL,"49,936",AL,25.2,/nchs/pressroom/states/alabama/al.htm
1,1,AK,5.9,60,/nchs/pressroom/states/alaska/ak.htm,2018,AK,"68,734",AK,19.3,/nchs/pressroom/states/alaska/ak.htm
2,2,AZ,5.6,451,/nchs/pressroom/states/arizona/az.htm,2018,AZ,"62,283",AZ,20.1,/nchs/pressroom/states/arizona/az.htm
3,3,AR,7.5,279,/nchs/pressroom/states/arkansas/ar.htm,2018,AR,"49,781",AR,30.4,/nchs/pressroom/states/arkansas/ar.htm
4,4,CA,4.2,1909,/nchs/pressroom/states/california/ca.htm,2018,CA,"70,489",CA,13.6,/nchs/pressroom/states/california/ca.htm

In [54]:
conn = sqlite3.connect(db_file)

cursor = conn.cursor()

sql ='''CREATE TABLE combined( 
   ID INT PRIMARY KEY,
   State CHAR(2),
   Infant_Death_Per_1000 INT,
   Infant_Deaths INT,
   Year INT,
   Median_Income INT,
   Teen_Birth_Rate_Per_1000 INT,
   Unmarried_Birth_Rate INT,
   Low_Birthweight_Rate INT
   )'''
cursor.execute(sql)
print("Table created successfully.............")

conn.commit()

conn.close()

OperationalError: table combined already exists

In [55]:
del combined_df1["URL"]
del combined_df1["YEAR"]
del combined_df1["STATE"]

KeyError: 'URL'

In [56]:
combined_df1 = combined_df1.merge(birthweight2018_df, on="ID")

NameError: name 'birthweight2018_df' is not defined

In [57]:
combined_df1 = combined_df1.rename(columns={"STATE_x" : "State"})

In [58]:
combined_df1.head(5)

,ID,State,Infant_Death_Per_1000,Infant_Deaths,URL_x,Year,STATE_y,Median_Income,STATE,Teen_Birth_Rate_Per_1000,URL_y
0,0,AL,7.0,405,/nchs/pressroom/states/alabama/al.htm,2018,AL,"49,936",AL,25.2,/nchs/pressroom/states/alabama/al.htm
1,1,AK,5.9,60,/nchs/pressroom/states/alaska/ak.htm,2018,AK,"68,734",AK,19.3,/nchs/pressroom/states/alaska/ak.htm
2,2,AZ,5.6,451,/nchs/pressroom/states/arizona/az.htm,2018,AZ,"62,283",AZ,20.1,/nchs/pressroom/states/arizona/az.htm
3,3,AR,7.5,279,/nchs/pressroom/states/arkansas/ar.htm,2018,AR,"49,781",AR,30.4,/nchs/pressroom/states/arkansas/ar.htm
4,4,CA,4.2,1909,/nchs/pressroom/states/california/ca.htm,2018,CA,"70,489",CA,13.6,/nchs/pressroom/states/california/ca.htm

In [59]:
del combined_df1["STATE"]
del combined_df1["YEAR"]
del combined_df1["URL"]

KeyError: 'YEAR'

In [60]:
birthweight_df = pd.read_csv("Low Birthweight by State.csv")

In [61]:
birthweight_df.insert(0, "ID", range(0, len(birthweight_df)))

In [62]:
birthweight2018_df = birthweight_df.loc[birthweight_df["YEAR"] == 2018.0]

In [63]:
birthweight_df.head(
)

   ID    YEAR STATE  RATE                                               URL
0   0  2018.0    AL  10.7        /nchs/pressroom/states/alabama/alabama.htm
1   1  2018.0    AK   5.9          /nchs/pressroom/states/alaska/alaska.htm
2   2  2018.0    AZ   7.6        /nchs/pressroom/states/arizona/arizona.htm
3   3  2018.0    AR   9.4      /nchs/pressroom/states/arkansas/arkansas.htm
4   4  2018.0    CA   7.0  /nchs/pressroom/states/california/california.htm

In [64]:
conn = sqlite3.connect(db_file)

In [65]:
birthweight2018_df.to_sql("birthweight2018", conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: birthweight2018.ID

In [66]:
conn.close()

In [67]:
conn = sqlite3.connect(db_file)

In [68]:
combined_df1.to_sql("combined", conn, if_exists='append', index=False)

OperationalError: table combined has no column named URL_x

In [69]:
conn.close()

In [70]:

conn = sqlite3.connect(db_file)

def sql_fetch(conn):

    cursorObj = conn.cursor()

    cursorObj.execute('SELECT * FROM combined')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(conn)

conn.close()

(0, 'AL', 7, 405, 2018, '49,936', 25.2, 46.8, 10.7)
(1, 'AK', 5.9, 60, 2018, '68,734', 19.3, 35.3, 5.9)
(2, 'AZ', 5.6, 451, 2018, '62,283', 20.1, 44.9, 7.6)
(3, 'AR', 7.5, 279, 2018, '49,781', 30.4, 45.4, 9.4)
(4, 'CA', 4.2, 1909, 2018, '70,489', 13.6, 37.1, 7)
(5, 'CO', 4.7, 298, 2018, '73,034', 14.3, 23.2, 9.4)
(6, 'CT', 4.2, 147, 2018, '72,812', 8.3, 37.1, 7.6)
(7, 'DE', 5.8, 62, 2018, '65,012', 16.7, 47, 8.9)
(8, 'FL', 6, 1332, 2018, '54,644', 16.7, 46.4, 8.7)
(9, 'GA', 7, 888, 2018, '55,821', 20.6, 45.1, 10.1)
(10, 'HI', 6.8, 116, 2018, '80,108', 17.2, 38.1, 8.3)
(11, 'ID', 5.1, 109, 2018, '58,728', 16, 27, 7.3)
(12, 'IL', 6.5, 942, 2018, '70,145', 15.8, 39.3, 8.5)
(13, 'IN', 6.8, 556, 2018, '59,892', 21.8, 43.2, 8.1)
(14, 'IA', 5.1, 191, 2018, '68,718', 15.3, 34.9, 6.9)
(15, 'KS', 6.5, 236, 2018, '63,938', 20, 36.4, 7.4)
(16, 'KY', 5.8, 315, 2018, '54,555', 27.3, 41.9, 8.9)
(17, 'LA', 7.6, 454, 2018, '49,973', 27.5, 53.3, 10.8)
(18, 'ME', 5.4, 67, 2018, '58,663', 11.1, 38.8, 7.2)
(19, 'MD', 6.1, 432, 2018, '86,223', 14.1, 39.2, 8.8)
(20, 'MA', 4.2, 290, 2018, '86,345', 7.2, 32.5, 7.6)
(21, 'MI', 6.2, 684, 2018, '60,449', 15.8, 40.8, 8.5)
(22, 'MN', 5.1, 342, 2018, '71,817', 10.2, 31.9, 6.9)
(23, 'MS', 8.3, 306, 2018, '42,781', 27.8, 54.1, 12.1)
(24, 'MO', 6.3, 460, 2018, '61,726', 21.6, 40.3, 8.7)
(25, 'MT', 4.8, 55, 2018, '57,679', 17.2, 34.9, 7.4)
(26, 'NE', 5.8, 149, 2018, '67,575', 16.7, 32.5, 7.6)
(27, 'NV', 6.1, 217, 2018, '61,864', 20.5, 48.3, 8.7)
(28, 'NH', 3.6, 43, 2018, '81,346', 8, 32.9, 6.8)
(29, 'NJ', 3.9, 390, 2018, '74,176', 10.3, 33.8, 7.9)
(30, 'NM', 5.7, 131, 2018, '48,283', 25.3, 51.2, 9)
(31, 'NY', 4.3, 974, 2018, '67,274', 11.7, 37.5, 8.1)
(32, 'NC', 6.7, 797, 2018, '53,369', 18.7, 40.9, 9.2)
(33, 'ND', 5.5, 59, 2018, '66,505', 16.4, 31.9, 6.6)
(34, 'OH', 6.9, 938, 2018, '61,633', 18.9, 43.2, 8.5)
(35, 'OK', 7.1, 353, 2018, '54,434', 27.2, 42.2, 8.3)
(36, 'OR', 4.2, 176, 2018, '69,165', 13.3, 36.3, 6.7)
(37, 'PA', 5.9, 805, 2018, '64,524', 14.1, 40.8, 8.3)
(38, 'RI', 5, 53, 2018, '62,266', 11.5, 43.6, 7.6)
(39, 'SC', 7.2, 406, 2018, '57,444', 22, 46.2, 9.6)
(40, 'SD', 5.9, 70, 2018, '59,463', 20.4, 36.1, 6.6)
(41, 'TN', 6.9, 560, 2018, '56,060', 25.3, 43.5, 9.3)
(42, 'TX', 5.5, 2083, 2018, '59,785', 25.3, 40.8, 8.5)
(43, 'UT', 5.5, 261, 2018, '77,067', 13.1, 19.2, 7.2)
(44, 'VT', 6.4, 35, 2018, '70,066', 8.8, 38.5, 7)
(45, 'VA', 5.6, 558, 2018, '77,151', 14.3, 34.7, 8.2)
(46, 'WA', 4.7, 401, 2018, '79,726', 12.7, 31.1, 6.6)
(47, 'WV', 7.1, 130, 2018, '50,573', 25.4, 45.7, 9.4)
(48, 'WI', 6.1, 393, 2018, '62,629', 13, 37.4, 7.7)
(49, 'WY', 5.3, 35, 2018, '62,539', 20.8, 33.3, 9.4)

In [73]:
combined_df2 = combined_df1
combined_df2['Median_Income'] = combined_df2['Median_Income'].replace(",", "", regex=True)
combined_df2.head()

,ID,State,Infant_Death_Per_1000,Infant_Deaths,URL_x,Year,STATE_y,Median_Income,Teen_Birth_Rate_Per_1000,URL_y
0,0,AL,7.0,405,/nchs/pressroom/states/alabama/al.htm,2018,AL,49936,25.2,/nchs/pressroom/states/alabama/al.htm
1,1,AK,5.9,60,/nchs/pressroom/states/alaska/ak.htm,2018,AK,68734,19.3,/nchs/pressroom/states/alaska/ak.htm
2,2,AZ,5.6,451,/nchs/pressroom/states/arizona/az.htm,2018,AZ,62283,20.1,/nchs/pressroom/states/arizona/az.htm
3,3,AR,7.5,279,/nchs/pressroom/states/arkansas/ar.htm,2018,AR,49781,30.4,/nchs/pressroom/states/arkansas/ar.htm
4,4,CA,4.2,1909,/nchs/pressroom/states/california/ca.htm,2018,CA,70489,13.6,/nchs/pressroom/states/california/ca.htm

In [74]:
conn = sqlite3.connect(db_file)

In [75]:
combined_df2.to_sql("combined2", conn, if_exists='append', index=False)

In [76]:
conn.close()

In [77]:

conn = sqlite3.connect(db_file)

def sql_fetch(conn):

    cursorObj = conn.cursor()

    cursorObj.execute('SELECT * FROM combined2')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(conn)

conn.close()

(0, 'AL', 7.0, '405', '/nchs/pressroom/states/alabama/al.htm', 2018, 'AL', '49936', 25.2, '/nchs/pressroom/states/alabama/al.htm')
(1, 'AK', 5.9, '60', '/nchs/pressroom/states/alaska/ak.htm', 2018, 'AK', '68734', 19.3, '/nchs/pressroom/states/alaska/ak.htm')
(2, 'AZ', 5.6, '451', '/nchs/pressroom/states/arizona/az.htm', 2018, 'AZ', '62283', 20.1, '/nchs/pressroom/states/arizona/az.htm')
(3, 'AR', 7.5, '279', '/nchs/pressroom/states/arkansas/ar.htm', 2018, 'AR', '49781', 30.4, '/nchs/pressroom/states/arkansas/ar.htm')
(4, 'CA', 4.2, '1909', '/nchs/pressroom/states/california/ca.htm', 2018, 'CA', '70489', 13.6, '/nchs/pressroom/states/california/ca.htm')
(5, 'CO', 4.7, '298', '/nchs/pressroom/states/colorado/co.htm', 2018, 'CO', '73034', 14.3, '/nchs/pressroom/states/colorado/co.htm')
(6, 'CT', 4.2, '147', '/nchs/pressroom/states/connecticut/ct.htm', 2018, 'CT', '72812', 8.3, '/nchs/pressroom/states/connecticut/ct.htm')
(7, 'DE', 5.8, '62', '/nchs/pressroom/states/delaware/de.htm', 2018, 'DE', '65012', 16.7, '/nchs/pressroom/states/delaware/de.htm')
(8, 'FL', 6.0, '1332', '/nchs/pressroom/states/florida/fl.htm', 2018, 'FL', '54644', 16.7, '/nchs/pressroom/states/florida/fl.htm')
(9, 'GA', 7.0, '888', '/nchs/pressroom/states/georgia/ga.htm', 2018, 'GA', '55821', 20.6, '/nchs/pressroom/states/georgia/ga.htm')
(10, 'HI', 6.8, '116', '/nchs/pressroom/states/hawaii/hi.htm', 2018, 'HI', '80108', 17.2, '/nchs/pressroom/states/hawaii/hi.htm')
(11, 'ID', 5.1, '109', '/nchs/pressroom/states/idaho/id.htm', 2018, 'ID', '58728', 16.0, '/nchs/pressroom/states/idaho/id.htm')
(12, 'IL', 6.5, '942', '/nchs/pressroom/states/illinois/il.htm', 2018, 'IL', '70145', 15.8, '/nchs/pressroom/states/illinois/il.htm')
(13, 'IN', 6.8, '556', '/nchs/pressroom/states/indiana/in.htm', 2018, 'IN', '59892', 21.8, '/nchs/pressroom/states/indiana/in.htm')
(14, 'IA', 5.1, '191', '/nchs/pressroom/states/iowa/ia.htm', 2018, 'IA', '68718', 15.3, '/nchs/pressroom/states/iowa/ia.htm')
(15, 'KS', 6.5, '236', '/nchs/pressroom/states/kansas/ks.htm', 2018, 'KS', '63938', 20.0, '/nchs/pressroom/states/kansas/ks.htm')
(16, 'KY', 5.8, '315', '/nchs/pressroom/states/kentucky/ky.htm', 2018, 'KY', '54555', 27.3, '/nchs/pressroom/states/kentucky/ky.htm')
(17, 'LA', 7.6, '454', '/nchs/pressroom/states/louisiana/la.htm', 2018, 'LA', '49973', 27.5, '/nchs/pressroom/states/louisiana/la.htm')
(18, 'ME', 5.4, '67', '/nchs/pressroom/states/maine/me.htm', 2018, 'ME', '58663', 11.1, '/nchs/pressroom/states/maine/me.htm')
(19, 'MD', 6.1, '432', '/nchs/pressroom/states/maryland/md.htm', 2018, 'MD', '86223', 14.1, '/nchs/pressroom/states/maryland/md.htm')
(20, 'MA', 4.2, '290', '/nchs/pressroom/states/massachusetts/ma.htm', 2018, 'MA', '86345', 7.2, '/nchs/pressroom/states/massachusetts/ma.htm')
(21, 'MI', 6.2, '684', '/nchs/pressroom/states/michigan/mi.htm', 2018, 'MI', '60449', 15.8, '/nchs/pressroom/states/michigan/mi.htm')
(22, 'MN', 5.1, '342', '/nchs/pressroom/states/minnesota/mn.htm', 2018, 'MN', '71817', 10.2, '/nchs/pressroom/states/minnesota/mn.htm')
(23, 'MS', 8.3, '306', '/nchs/pressroom/states/mississippi/ms.htm', 2018, 'MS', '42781', 27.8, '/nchs/pressroom/states/mississippi/ms.htm')
(24, 'MO', 6.3, '460', '/nchs/pressroom/states/missouri/mo.htm', 2018, 'MO', '61726', 21.6, '/nchs/pressroom/states/missouri/mo.htm')
(25, 'MT', 4.8, '55', '/nchs/pressroom/states/montana/mt.htm', 2018, 'MT', '57679', 17.2, '/nchs/pressroom/states/montana/mt.htm')
(26, 'NE', 5.8, '149', '/nchs/pressroom/states/nebraska/ne.htm', 2018, 'NE', '67575', 16.7, '/nchs/pressroom/states/nebraska/ne.htm')
(27, 'NV', 6.1, '217', '/nchs/pressroom/states/nevada/nv.htm', 2018, 'NV', '61864', 20.5, '/nchs/pressroom/states/nevada/nv.htm')
(28, 'NH', 3.6, '43', '/nchs/pressroom/states/newhampshire/nh.htm', 2018, 'NH', '81346', 8.0, '/nchs/pressroom/states/newhampshire/nh.htm')
(29, 'NJ', 3.9, '390', '/nchs/pressroom/states/newjersey/nj.htm', 2018, 'NJ', '74176', 10.3, '/nchs/pressroom/states/newjersey/nj.htm')
(30, 'NM', 5.7, '131', '/nchs/pressroom/states/newmexico/nm.htm', 2018, 'NM', '48283', 25.3, '/nchs/pressroom/states/newmexico/nm.htm')
(31, 'NY', 4.3, '974', '/nchs/pressroom/states/newyork/ny.htm', 2018, 'NY', '67274', 11.7, '/nchs/pressroom/states/newyork/ny.htm')
(32, 'NC', 6.7, '797', '/nchs/pressroom/states/northcarolina/nc.htm', 2018, 'NC', '53369', 18.7, '/nchs/pressroom/states/northcarolina/nc.htm')
(33, 'ND', 5.5, '59', '/nchs/pressroom/states/northdakota/nd.htm', 2018, 'ND', '66505', 16.4, '/nchs/pressroom/states/northdakota/nd.htm')
(34, 'OH', 6.9, '938', '/nchs/pressroom/states/ohio/oh.htm', 2018, 'OH', '61633', 18.9, '/nchs/pressroom/states/ohio/oh.htm')
(35, 'OK', 7.1, '353', '/nchs/pressroom/states/oklahoma/ok.htm', 2018, 'OK', '54434', 27.2, '/nchs/pressroom/states/oklahoma/ok.htm')
(36, 'OR', 4.2, '176', '/nchs/pressroom/states/oregon/or.htm', 2018, 'OR', '69165', 13.3, '/nchs/pressroom/states/oregon/or.htm')
(37, 'PA', 5.9, '805', '/nchs/pressroom/states/pennsylvania/pa.htm', 2018, 'PA', '64524', 14.1, '/nchs/pressroom/states/pennsylvania/pa.htm')
(38, 'RI', 5.0, '53', '/nchs/pressroom/states/rhodeisland/ri.htm', 2018, 'RI', '62266', 11.5, '/nchs/pressroom/states/rhodeisland/ri.htm')
(39, 'SC', 7.2, '406', '/nchs/pressroom/states/southcarolina/sc.htm', 2018, 'SC', '57444', 22.0, '/nchs/pressroom/states/southcarolina/sc.htm')
(40, 'SD', 5.9, '70', '/nchs/pressroom/states/southdakota/sd.htm', 2018, 'SD', '59463', 20.4, '/nchs/pressroom/states/southdakota/sd.htm')
(41, 'TN', 6.9, '560', '/nchs/pressroom/states/tennessee/tn.htm', 2018, 'TN', '56060', 25.3, '/nchs/pressroom/states/tennessee/tn.htm')
(42, 'TX', 5.5, '2083', '/nchs/pressroom/states/texas/tx.htm', 2018, 'TX', '59785', 25.3, '/nchs/pressroom/states/texas/tx.htm')
(43, 'UT', 5.5, '261', '/nchs/pressroom/states/utah/ut.htm', 2018, 'UT', '77067', 13.1, '/nchs/pressroom/states/utah/ut.htm')
(44, 'VT', 6.4, '35', '/nchs/pressroom/states/vermont/vt.htm', 2018, 'VT', '70066', 8.8, '/nchs/pressroom/states/vermont/vt.htm')
(45, 'VA', 5.6, '558', '/nchs/pressroom/states/virginia/va.htm', 2018, 'VA', '77151', 14.3, '/nchs/pressroom/states/virginia/va.htm')
(46, 'WA', 4.7, '401', '/nchs/pressroom/states/washington/wa.htm', 2018, 'WA', '79726', 12.7, '/nchs/pressroom/states/washington/wa.htm')
(47, 'WV', 7.1, '130', '/nchs/pressroom/states/westvirginia/wv.htm', 2018, 'WV', '50573', 25.4, '/nchs/pressroom/states/westvirginia/wv.htm')
(48, 'WI', 6.1, '393', '/nchs/pressroom/states/wisconsin/wi.htm', 2018, 'WI', '62629', 13.0, '/nchs/pressroom/states/wisconsin/wi.htm')
(49, 'WY', 5.3, '35', '/nchs/pressroom/states/wyoming/wy.htm', 2018, 'WY', '62539', 20.8, '/nchs/pressroom/states/wyoming/wy.htm')